.menu {
  position: absolute;
  z-index: 1;

  padding-left: 0;
  margin: 0;

  border-radius: 2px;
  list-style: none;

  box-shadow: 1px 1px 1px gray;
  background-color: #fff;
}

.menu li {
  padding: 0.3em 1em;

  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  border-top: 1px solid #edf2f7;

  color: #000;
  background-color: #fff;
}

.menu li:hover {
  background-color: #f7fafc;
}
