th,
td {
  padding-right: 0.5rem;
}

thead {
  font-size: 1.2rem;
  font-weight: 800;
}

.profile-large {
  min-width: 368px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3rem;
}

.profile-large-reverse {
  min-width: 368px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0.3rem;
}

.avatar-container {
  width: 100px;
  height: 100px;
  border-radius: 70%;
  overflow: hidden;
  margin: 1rem;
  margin-right: 2rem;
  position: relative;
}

.avatar {
  width: auto;
  height: 100px;
  position: absolute;
}

.nickname {
  width: 150px;
}

.nickname-input {
  width: 130px;
  height: 20px;
  font-weight: bold;
  background-color: transparent;
}

.nickname-input:focus {
  outline: none;
}

.nickname-input::placeholder {
  font-size: 0.9rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.overlay:hover {
  background: url('/images/camera_icon.png');
}
