.game-card {
  background-color: white;
  width: 290px;
  height: 290px;
  border-radius: 1rem;
  text-align: center;
}

.game-card-running-time-section {
  height: 30px;
  background-color: lightblue;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding-right: 0.5rem;
}

.game-card-profile-section {
  margin: 0.3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.game-card-vs {
  font-size: 1rem;
  font-weight: 800;
}
